<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RadarChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D25B2F071CE99E7B00759908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25B2F201CE99E7B00759908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25B2F2B1CE99E7B00759908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
